@import "base";

.cart-list-wrapper{
    .ui-border-t{
        padding-left: 60px;
    }
    .ui-list-img{
        width: 68px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .ui-switch{
        right: auto;
        left: 0;
    }
    .btns{
        text-align: right;
        .ui-btn-s{
            width: 40px;
            min-width: 40px;
        }
    }

}